body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    height: 100vh;
}
html{
    font-size: 62.5%;
}

@keyframes moveBottom{
    0%{
        opacity: 0;
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translateX(-50%);
    }
    50%{
        opacity: 1;   
    }
    100%{
        opacity: 1;
    }
}
